body {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: red;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}

.navbar {
  background-color: rgb(143, 143, 143);
}

/*CHAT STYLES*/
.chat {
  height: 80vh;
}
.card {
  height: 100%;
  border-radius: 15px !important;
  background-color: rgba(149, 121, 121, 0.4) !important;
}
.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body {
  overflow-y: auto;
}
.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container {
  align-content: center;
}
.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}
.search:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts {
  list-style: none;
  padding: 0;
}
.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.active_user_img {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}
.active_img_cont {
  position: relative;
  height: 40px;
  width: 40px;
}
.img_cont {
  position: relative;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}
.img_cont_msg {
  height: 40px;
  width: 40px;
}
.active_users_count {
  margin-bottom: 0px;
  margin-top: 5px;
  bottom: 0.2em;
  right: 0.4em;
}
.active_online_icon {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.online_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border: 1.5px solid white;
}
.offline {
  background-color: #c23616 !important;
}
.user_info {
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: 5px;
}
.user_info .catch {
  font-size: 15px;
  color: white;
}
.user_info .username {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span {
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
}
.msg_cotainer_send {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}
.msg_time {
  position: inherit;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
.msg_head {
  position: relative;
}
#action_menu_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu {
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.action_menu ul li {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i {
  padding-right: 10px;
}
.action_menu ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
/* @media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
} */

/*Login And Register Styles*/
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://source.unsplash.com/WEQbe2jBg40/600x1200");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/* PROFILE PAGE */

.portfolio {
  padding: 6%;
  text-align: center;
}
.heading {
  background: #fff;
  padding: 1%;
  text-align: left;
  box-shadow: 0px 0px 4px 0px #545b62;
}
.heading img {
  width: 10%;
}
.bio-info {
  padding: 5%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.name {
  font-family: "Charmonman", cursive;
  font-weight: 600;
}
.bio-image {
  text-align: center;
}
.bio-image img {
  border-radius: 50%;
}
.bio-content {
  text-align: left;
}
.bio-content p {
  font-weight: 600;
  font-size: 30px;
}

.mingle_nav {
  margin-left: auto;
  margin-top: 5px;
  font-size: 20px;
}

.lonely_nav {
  margin-top: 15px;
  font-size: 10px;
  color: cornsilk;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h4 {
  padding-left: 20px;
  margin-bottom: 10px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.right-sidebar {
  border-left: 1px solid #ccc;
}

.left-sidebar {
  border-right: 1px solid #ccc;
}

.user-profile {
  height: 70px;
  display: flex;
  align-items: flex-start;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.user-profile span {
  display: block;
}

.user-profile .username {
  font-size: 20px;
  font-weight: 700;
}

.chat-rooms li,
.room-member {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  font-size: 18px;
  color: #181919;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}

.room-member {
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
}

.send-dm {
  opacity: 0;
  pointer-events: none;
  font-size: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 0;
  padding: 0 10px;
  line-height: 1.4;
  height: auto;
}

.room-member:hover .send-dm {
  opacity: 1;
  pointer-events: all;
}

.presence {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  margin-right: 10px;
  border-radius: 50%;
}

.presence.online {
  background-color: green;
}

.chat-rooms .active {
  background-color: #eee;
  color: #181919;
}

.chat-rooms li:hover {
  background-color: #d8d1d1;
}

.room-icon {
  display: inline-block;
  margin-right: 10px;
}

.chat-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  height: 70px;
  flex-shrink: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-header h3 {
  margin-bottom: 0;
  text-align: center;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  min-height: min-content;
  position: relative;
}

.message {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message span {
  display: block;
  text-align: left;
}

.message .user-id {
  font-weight: bold;
}

.message-form {
  border-top: 1px solid #ccc;
  width: 100%;
  display: flex;
  align-items: center;
}

.message-form,
.message-input {
  width: 100%;
  margin-bottom: 0;
}

.rta {
  flex-grow: 1;
}

.emoji-mart {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

input[type="text"].message-input,
textarea.message-input {
  height: 50px;
  flex-grow: 1;
  line-height: 35px;
  padding-left: 20px;
  border-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  font-size: 16px;
  color: #333;
  min-height: auto;
  overflow-y: hidden;
  resize: none;
  border-left: 1px solid #ccc;
}

.message-input:focus {
  outline: none;
}

.toggle-emoji {
  border: none;
  width: 50px;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-emoji svg {
  width: 28px;
  height: 28px;
}

/* RTA
   ========================================================================== */

.rta {
  position: relative;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.rta__autocomplete {
  position: absolute;
  width: 300px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.rta__autocomplete ul {
  list-style: none;
  text-align: left;
  margin-bottom: 0;
}

.rta__autocomplete li {
  margin-bottom: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.rta__autocomplete li:hover {
  background-color: skyblue;
}

/* Dialog
   ========================================================================== */

.dialog-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 500px;
  background-color: white;
  display: flex;
  align-items: center;
}

.dialog-form {
  width: 100%;
  margin-bottom: 0;
  padding: 20px;
}

.dialog-form > * {
  display: block;
}

.username-label {
  text-align: left;
  font-size: 16px;
}

.username-input {
  width: 100%;
}

input[type="text"]:focus {
  border-color: #5c8436;
}

.submit-btn {
  color: #5c8436;
  background-color: #181919;
  width: 100%;
}

.submit-btn:hover {
  color: #5c8436;
  background-color: #222;
}
